<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style type="text/css">
.imghead {
		background-image: url(${head});
}
.imgset {
	background-image: url(image/setIcon.png);
}
.imginfo {
	background-image: url(image/xiaoxi2.jpg);
}
.imginfo2 {
	background-image: url(image/xiaoxi.jpg);
}
</style>
<link type="text/css" rel="stylesheet" href="css/head.css" />
</head>
<body onselectstart="return false;">
<div class="head"> <span class="logostyle">Fun论坛</span>
  <button onClick="toHome()" id="tag1" class="tag">首页</button>
  <button onClick="toIssuePost()" id="tag2" class="tag">我要发帖</button>
  <!-- <button onClick="script:alert('暂未开放')" id="tag3" class="tag">我的关注</button> -->
  <!-- <button onClick="script:alert('暂未开放')" id="tag4" class="tag">我的收藏</button> -->
  <!-- <button onClick="script:alert('暂未开放')"id="tag5" class="tag">签到</button> -->
  <div onMouseOver="showTags()" class="imgset" ></div>
  <div id="xiaoxiICON" onClick="toMyPost4()" class="imginfo2" ></div>
  <span class="imgname">${name}</span>

  <div class="imghead"></div>
</div>
<div id="shortimg" class="shortimg"></div>
<div onMouseLeave="closeTags()" id="dropDown" class="dropDown" >
  <button onclick="toMyPost()" onMouseOver="tagColor(this)" onMouseLeave="tagColor2(this)" class="dropDowntag">我的发帖</button>
  <button onclick="toMyPost2()" onMouseOver="tagColor(this)" onMouseLeave="tagColor2(this)" class="dropDowntag">我的评论</button>
  <button onclick="toMyInformation()" onMouseOver="tagColor(this)" onMouseLeave="tagColor2(this)" class="dropDowntag">个人设置</button>
  <button onClick="exitStatus()" onMouseOver="tagColor(this)" onMouseLeave="tagColor2(this)" class="dropDowntag">退出登录</button>
</div>
</body>
<script type="text/javascript">
var num=${num};
</script>
<script type="text/javascript" src="js/head.js"></script>
</html>