<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<link type="text/css" rel="stylesheet" href="css/home.css" />
<style>
</style>
</head>
<body>
<object class="objectDiv" data="head.action?num=1"></object>
<div class="bigDiv">
	<div onselectstart="return false;" class="searchDiv">
    <input id="searchInput" class="searchInput" placeholder="  请输入关键词" name="keywords" type="text" maxlength="20" />
    <select class="searchSelect" id="searchSelect">
    	<option value ="title">标题</option>
  		<option value ="name">用户</option>
    </select>
    <button id="searchButton" onclick="searchPost(document.getElementById('searchInput'),document.getElementById('searchSelect'))" class="searchButton">搜索</button>
    </div>
    <div>
    	<span onselectstart="return false;" class="hotTitle">版块分区</span>
    	<br onselectstart="return false;"/><br onselectstart="return false;"/>
		<hr style="margin-left:48px;width:600px;"/>
		<button style="margin-left:55px;background-color: #ffb973" class="blocktitle" onclick="toblock('二次元')">二次元</button>
		<button class="blocktitle" style="background-color: #ffb973" onclick="toblock('不是二次元')">不是二次元</button>
		<br>
		<br onselectstart="return false;"/><br onselectstart="return false;"/>
		<hr id="blockhr" class="blockhr"/>
		<div id="blockdiv" class="blockdiv"></div>
		<hr id="blockhr2" class="blockhr"/>
    </div>
    <div class="hotDiv">
    	<span onselectstart="return false;" class="hotTitle">热点帖子</span>
    	<span onselectstart="return false;" style="font-size:15px;float:left;margin-top:18px;cursor:pointer;" onclick="getMoreHotPost()">刷新</span>
        <br onselectstart="return false;"/><br onselectstart="return false;"/>
		<hr style="margin-left:48px;width:600px;"/>
		<div style="height:420px;width:100%;overflow-x: hidden">
		<div id="addHotPost" >
		<#if hotlist??>
			<#list hotlist as postPersonal>
			<div  onselectstart="return true;" class="hostpost" onclick="window.open('showPost.action?id=${postPersonal.id}')">
        	<div class="hostposttitle">
        		<span style="width:100%;display:block;font-size:28px;margin-left:10px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;">${postPersonal.title}</span>
        	</div>
        	<div class="hostpostnum">
        		<div style="margin-top:5px;font-size:16px">点击量：${postPersonal.clicknum}</div>
        		<div style="margin-top:5px;font-size:16px">评论量：${postPersonal.reviewnum}</div>
        	</div>
        	<div class="hostposthead">
        		<div class="imghead" style="background-image: url('${postPersonal.userid}');"></div>
        	</div>
        	<div class="hostpostname">${postPersonal.content}</div>
        	<div class="hostpostother">
        		<span style="margin-left:30px;">发表于版块：${postPersonal.forumid}</span>
        		<span style="float:right;margin-right:25px;">发表时间：${postPersonal.issuetime}</span>
        	</div>
        	</div>
			</#list>
		<#else>
			<span>暂时没有热点帖子</span>
		</#if>
		</div>
		</div>
    </div>
    <div class="hotDiv">
    	<span onselectstart="return false;" class="hotTitle">最新帖子</span>
    	<span onselectstart="return false;" style="font-size:15px;float:left;margin-top:18px;cursor:pointer;" onclick="getMoreNewPost()">刷新</span>
        <br onselectstart="return false;"/><br onselectstart="return false;"/>
		<hr style="margin-left:48px;width:600px;"/>
		<div style="height:720px;width:100%;overflow-x: hidden">
		<div id="addNewPost">
		<#if newlist??>
			<#list newlist as postPersonal>
			<div  onselectstart="return true;" class="hostpost" onclick="window.open('showPost.action?id=${postPersonal.id}')">
        	<div class="hostposttitle">
        		<span style="width:100%;display:block;font-size:28px;margin-left:10px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;">${postPersonal.title}</span>
        	</div>
        	<div class="hostpostnum">
        		<div style="margin-top:5px;font-size:16px">点击量：${postPersonal.clicknum}</div>
        		<div style="margin-top:5px;font-size:16px">评论量：${postPersonal.reviewnum}</div>
        	</div>
        	<div class="hostposthead">
        		<div class="imghead" style="background-image: url('${postPersonal.userid}');"></div>
        	</div>
        	<div class="hostpostname">${postPersonal.content}</div>
        	<div class="hostpostother">
        		<span style="margin-left:30px;">发表于版块：${postPersonal.forumid}</span>
        		<span style="margin-right:15px;position:absolute;left:310px;">发表时间：${postPersonal.issuetime}</span>
        	</div>
        	</div>
			</#list>
		<#else>
			<span>暂时没有热点帖子</span>
		</#if>
		</div>
		</div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/home.js"></script>
</html>