<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="css/myInformation/myInformation3.css" />
</head>
<body>
<div style="height:auto; width:990px;">
  <div class="tags">
    <div class="tagName">原密码</div>
    <input id="oldpassword" class="tagValue" type="text" name="oldpassword" value="" />
  </div>
  <div class="tags">
    <div class="tagName">修改密码</div>
    <input id="newpassword"  class="tagValue" type="password" name="newpassword" value="" />
  </div>
  <div class="tags">
    <div class="tagName">确认密码</div>
    <input id="newpassword2" class="tagValue" type="password" name="newpassword2" value="" />
  </div>
  <div id="updateButtom" onClick="updatePassword()" class="button">保存修改</div>
</div>
</body>
<script type="text/javascript" src="js/myInformation/myInformation3.js"></script>
</html>