<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>个人资料</title>
<link rel="stylesheet" type="text/css" href="css/myInformation/myInformation.css" />
</head>
<body>
<object width="100%" height="330px" style="border:0px" data="head.action?num=0"></object>
<div class="content">
  <div style="width:1000px;height:70px;">
    <div class="tagg" onClick="to1()">基本资料</div>
    <div class="tagg" onClick="to2()">修改头像</div>
    <div class="tagg" onClick="to3()">修改密码</div>
    <hr style="height:0.2px; width:998px; background-color:#000">
  </div>
  <object id="objects" style="border:0px; height:600px; width:100%" data="myInformation1.action">
  </object>
</div>
</body>
<script type="text/javascript" src="js/myInformation/myInformation.js"></script>
</html>