<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的发帖</title>
<link rel="stylesheet" type="text/css" href="css/myPost/myPost.css" />
</head>
<body>
	<object class="objectDiv" data="head.action?num=0"></object>
	<div class="bigdiv">
		<div class="tags">
			<button onclick="toMyPost-part1()" class="tagbutton">我的帖子</button>
			<button class="tagbutton">我的评论</button>
			<button class="tagbutton">回复我的</button>
			<button class="tagbutton">消息通知</button>
		</div>
		<div class="showdiv">
			<object style="height:100%;width:100%" data="myPost1.action"></object>
		</div>
	</div>
</body>
</html>