<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的发帖</title>
<link rel="stylesheet" type="text/css" href="css/myPost/myPost.css" />
</head>
<body>
	<object class="objectDiv" data="head.action?num=0"></object>
	<div class="bigdiv">
		<div class="tags">
			<button id="button1" onclick="toMyPostpart('1')" class="tagbutton">我的帖子</button>
			<button id="button2" onclick="toMyPostpart('2')" class="tagbutton">我的评论</button>
			<button id="button3" onclick="toMyPostpart('3')" class="tagbutton">回复我的</button>
			<button id="button4" onclick="toMyPostpart('4')" class="tagbutton">消息通知</button>
		</div>
		<div class="showdiv">
			<object style="height:100%;width:100%" data="myPost${part}.action"></object>
		</div>
	</div>
</body>
<script type="text/javascript">
	document.getElementById("button${part}").style.backgroundColor="#ffffb0";
</script>
<script type="text/javascript" src="js/myPost/myPost.js"></script>
</html>