<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${name}的个人主页</title>
<link type="text/css" rel="stylesheet" href="css/personalHome.css" />
<style>
.imghead {
	background-image:url(${head2});
}
</style>
</head>
<body>
<object class="objectDiv" data="head.action?num=2"></object>
<div class="bigdiv">
  <img id="divhead" class="imghead" />
  <div class="tags">
    <div class="tagName">昵称</div>
    <input readonly id="name" maxlength="17" class="tagValue" type="text" name="name" value="${name}" />
  </div>
  <div class="tags">
    <div class="tagName">生日</div>
    <input readonly id="birthday" class="tagValue" type="text" name="birthday" value="${birthday}" />
    <#if oneself=="true">
     <div class="singleButton">
		<input id="birthdaySelect" type="radio" onclick="toupdate('birthday',this.value,'1')" name="viewstatus1" value="0" ${viewbirthday0}>可查看
		<input type="radio" onclick="toupdate('birthday',this.value,'1')" name="viewstatus1" value="1" ${viewbirthday1}>不可查看
    </div>
    </#if>
  </div>
  <div class="tags">
    <div class="tagName">QQ</div>
    <input readonly maxlength="15" id="qq" class="tagValue" type="text" name="qq" value="${qq}" />
    <#if oneself=="true">
     <div class="singleButton">
		<input id="qqSelect" type="radio" onclick="toupdate('qq',this.value,'2')" name="viewstatus2" value="0" ${viewqq0}>可查看
		<input type="radio" onclick="toupdate('qq',this.value,'2')" name="viewstatus2" value="1" ${viewqq1}>不可查看
    </div>
    </#if>
  </div>
   <div class="tags">
    <div class="tagName">Email</div>
    <input readonly maxlength="15" id="email" class="tagValue" type="text" name="email" value="${email}" />
    <#if oneself=="true">
     <div class="singleButton">
		<input id="emailSelect" type="radio" onclick="toupdate('email',this.value,'3')" name="viewstatus3" value="0" ${viewemail0}>可查看
		<input type="radio" onclick="toupdate('email',this.value,'3')" name="viewstatus3" value="1" ${viewemail1}>不可查看
    </div>
    </#if>
  </div>
  <div class="tags">
    <div class="tagName">居住地</div>
    <input readonly id="city" class="tagValue" type="text" name="city" value="${city}" />
    <#if oneself=="true">
     <div class="singleButton">
		<input id="citySelect" type="radio" onclick="toupdate('city',this.value,'4')" name="viewstatus4" value="0" ${viewcity0}>可查看
		<input type="radio" onclick="toupdate('city',this.value,'4')" name="viewstatus4" value="1" ${viewcity1}>不可查看
    </div>
    </#if>
  </div>
  <div class="tags">
    <div class="tagName">注册时间</div>
    <input readonly class="tagValue" type="text" value="${register}" />
    <#if oneself=="true">
    <div class="singleButton">
		<input id="registerSelect" type="radio" onclick="toupdate('register',this.value,'5')" name="viewstatus5" value="0" ${viewregister0}>可查看
		<input type="radio" onclick="toupdate('register',this.value,'5')" name="viewstatus5" value="1" ${viewregister1}>不可查看
    </div>
    </#if>
  </div>
  <div class="center">
    <div class="center-tag"><span style="margin-left:15px">自我简介</span></div>
    <textarea readonly id="introduce" class="center-value" name="introduce">${introduce}</textarea>
  </div>
  <div class="post">
  	<div class="post-title">
  		<div style="width:300px" class="singleButton">
  			<span style="background-color: #f8f8f8;margin-left:-20px" class="tagName">
  			<#if oneself=="true">我的帖子<#else>他的帖子</#if>
  			</span>
  			<#if oneself=="true">
			<input id="postSelect" type="radio" onclick="toupdate('post',this.value,'6')" name="viewstatus6" value="0" ${viewpost0}>可查看
			<input type="radio" onclick="toupdate('post',this.value,'6')" name="viewstatus6" value="1" ${viewpost1}>不可查看
			</#if>
    	</div>
  	</div>
  	<hr style="margin-left:39px;width:600px;"/><br />
  	<object class="objectDiv2" data="personalHome-post.action?userid=${viewid}"></object>
  </div>
</div>
</body>
<#if oneself=="true">
<script type="text/javascript" src="js/personalHome.js"></script>
</#if>
</html>