<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keilen.local.mapper.PostPersonalMapper">
	<resultMap type="PostPersonal" id="homePostMap">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="issuetime" column="issuetime"/>
		<result property="clicknum" column="clicknum"/>
		<result property="reviewnum" column="reviewnum"/>
		<association property="forumid" column="table=forumString,column=nameString,argName=idString,argValue=forumid" 
			select="keilen.local.mapper.ForumMapper.getColumnByArg" />
		<association property="userid" column="table=user_personalString,column=headString,argName=idString,argValue=userid" 
			select="keilen.local.mapper.UserPersonalMapper.getColumnByArg" />
		<association property="content" column="table=user_personalString,column=nameString,argName=idString,argValue=userid" 
			select="keilen.local.mapper.UserPersonalMapper.getColumnByArg" />
	</resultMap>

	<insert id="insertOne" parameterType="PostPersonal" useGeneratedKeys="true" keyProperty="id">
		insert into post_personal (id,title,userid,forumid,issuetime,clicknum,reviewnum,content)
			values (id,#{title},#{userid},#{forumid},#{issuetime},"0","0",#{content})
	</insert>
	
	<select id="getPersonalById" parameterType="String" resultType="PostPersonal">
		select * from post_personal where id=#{id} and deletedid=0
	</select>
	
	<update id="addclicknumByid" parameterType="String">
		update post_personal set clicknum=clicknum+1 where id=#{id}
	</update>
	
	<update id="addreviewnumByid" parameterType="String">
		update post_personal set reviewnum=reviewnum+1 where id=#{id}
	</update>
	
	<select id="getPersonalsByUseid"  resultType="PostPersonal">
		<bind name="newpage" value="5*(page-1)"></bind>
		select * from (
			select * from post_personal where userid=#{userid} and deletedid=0 order by issuetime desc
			) as newtable limit #{newpage},5
	</select>
	
	<select id="getCountbyUserid" parameterType="String" resultType="int">
		select count(*) from post_personal where userid=#{userid} and deletedid=0
	</select>
	
	<update id="deletePostPersonalById" parameterType="String">
		update post_personal set deletedid=#{deletedid} where id=#{id}
	</update>
	
	<select id="getTitleById" parameterType="String" resultType="String">
		select title from post_personal where id=#{id} and deletedid=0
	</select>
	
	<select id="getHotPostForHome" parameterType="int" resultMap="homePostMap">
		SELECT * ,
			'forum' as forumString,'id' as idString,'name' as nameString ,'user_personal' as user_personalString,'head' as headString 
		FROM post_personal WHERE deletedid=0 ORDER BY clicknum AND reviewnum desc LIMIT #{num},5
	</select>
	
	<select id="getNewPostForHome" parameterType="int" resultMap="homePostMap">
		SELECT * ,
			'forum' as forumString,'id' as idString,'name' as nameString ,'user_personal' as user_personalString,'head' as headString 
		FROM post_personal WHERE deletedid=0 ORDER BY issuetime desc LIMIT #{num},5
	</select>
	
	<select id="getCountLikeTitle" resultType="int">
		SELECT count(*) FROM post_personal WHERE deletedid=0 and title like #{title}
	</select>
	
	<select id="getCountLikeUserid" resultType="int">
		SELECT count(*) FROM post_personal WHERE deletedid=0 and userid in
			(select id from user_personal where name like #{userid})
	</select>
	
	<select id="getListLikeTitle" resultMap="homePostMap">
		SELECT * ,
			'forum' as forumString,'id' as idString,'name' as nameString ,'user_personal' as user_personalString,'head' as headString 
		FROM post_personal WHERE deletedid=0 and title like #{title} ORDER BY issuetime desc LIMIT #{num},10
	</select>
	
	<select id="getListLikeUserid" resultMap="homePostMap">
		SELECT * ,
			'forum' as forumString,'id' as idString,'name' as nameString ,'user_personal' as user_personalString,'head' as headString 
		FROM post_personal WHERE deletedid=0 and userid in
			(select id from user_personal where name like #{userid}) 
		ORDER BY issuetime desc LIMIT #{num},10
	</select>
</mapper>