html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.objectDiv {
	width: 100%;
	height: 330px;
	border: 0px;
	position: absolute;
}

.bigDiv {
	position: absolute;
	width: 85%;
	top: 80px;
	height: 100%;
}

.headDiv {
	float: left;
	position: relative;
	height: 60px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: double 1px;
	border-bottom: none;
	overflow-y: auto;
}

.divmain {
	float: left;
	position: absolute;
	padding: 0px 0px;
	background-color: #ffffb3;
	width: 1140px;
	margin: 20px 25px;
	min-height: 300px;
	height: auto;
	left: calc(59% - 620px);
	z-index:1000;
}

.childen {
	float: left;
	position: relative;
	padding: 0px 0px;
	width: 1140px;
	min-height: 300px;
	background-color: #f3f3f3;
	height: auto;
	overflow-y: auto;
	overflow-x: none;
	padding-bottom: 0px;
	border: double 1px #000000;
}

.reviewDiv {
	float: left;
	position: relative;
	padding: 0px 0px;
	width: 1140px;
	height: 535px;
	overflow-y: auto;
	overflow-x: none;
	border: double 1px #000000;
	z-index:1002;
	overflow: visible;
}

.div {
	vertical-align:middle;
	float: left;
	position: relative;
	padding: 20px 20px;
	background-color: #e3fff2;
	width: 959px;
	min-height: 300px;
	overflow-y: auto;
	overflow-x: none;
	line-height:24px;
	font-size: 24px;
	border-left: double 1px #000000;
}

.img {
	max-width: 940px;
	position: relative;
	resize: both;
}

.writerdiv {
	float: left;
	width: 139px;
	min-height: 300px;
	background-color: #f3f3f3;
}

.imghead {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin: 15px 23px;
	width: 90px;
	height: 90px;
	border-radius: 45px;
	border: solid rgb(100, 100, 100) 1px;
	background-color: #FFF;
	cursor: pointer;
}

.writerName {
	width: 139px;
	float: left;
	text-align: center;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

.userDiv {
	float: left;
	position: fixed;
	top: 0px;
	left: 1190px;
	padding: 0px 0px;
	background-color: #fff9d5;
	height: 200px;
	margin: 40px 10px;
	width: 280px;
	border: double 1px;
	z-index:1001
}

.hotPostDiv {
	float: left;
	position: fixed;
	top: 220px;
	left: 1190px;
	padding: 0px 0px;
	background-color: #fefee7;
	height: 200px;
	margin: 40px 10px;
	width: 280px;
	border: double 1px;
}

.button {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	height: 43px;
	width: 120px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	line-height: 40px;
	background-color: #0C9;
	border-radius: 8px;
	cursor: pointer;
}

.reviewTag {
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	color: #0080ff;
	border: none;
	background-color: #e3fff2;
}

#return-top {
	width: 51px;
	height: 51px;
	position: fixed;
	right: 2%;
	bottom: 10%;
	z-index: 100;
	border-radius: 51px;
	background: #424243;
}

.black-circle {
	color: #fff;
	text-align: center;
	width: 51px;
	font-size: 15px;
	height: 15px;
	margin-top: 15px
}

#return-top:hover  .pointer {
	top: 10px;
}

.emoji-box {
	float: left;
	position: absolute;
	z-index: 10001;
	font-size: 12px;
	color: #222;
	overflow: visible;
	background: #fff;
	border: 1px solid #E5E9EF;
	box-shadow: 0 11px 12px 0 rgb(106 115 133/ 30%);
	border-radius: 8px;
	margin-top: 7px;
	margin-bottom: 10px;
	width: 375px;
	height:auto;
	display: none
}

.emoji-box.bottom:before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50px;
    width: 8px;
    height: 5px;
    background: url(../image/Transparenthorn.png) 0 -49px no-repeat;
}

.emoji-box .emoji-pic {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.emoji-box .emoji-text {
    border-radius: 2px;
    transition: background 0.2s;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}

.emoji-box .emoji-text:hover {
    background-color: #cbd2de;
    border-radius: 2px;
    transition: background 0.1s;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}
.emoji-box * {
    box-sizing: content-box;
}
.emoji-box img {
    margin: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}